*{
    margin: 0px;
    padding: 0px;
  }

body {
    display: flex;
    justify-content: center;
    background: radial-gradient(40% 50%, #082252, #000);
  }

.container {
    height: 768px;
    width: 1024px;
    background: url("images/stars.png") no-repeat;
    position: relative;
    overflow: hidden;
  }

.wrapper {
  background: url("images/northern-lights.png") no-repeat;
}

.waves-container {
    position: absolute;
    height: 100%;  
    width: 100%;
    bottom: 0;
  }

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/wave-1.png");
    background-size: 100%;
    background-position-x: 0;
    background-position-y: 100%;
    background-repeat: repeat-x;
    animation: wave 7s linear infinite;
  }

.wave:nth-child(2) {
    animation-delay: 2s;
  }
  
@keyframes wave{
    0%{
      background-position-x: 0;
    }
    50%{
      background-position-x: 5100px;
    }
    100%{
      background-position-x: 0;
    }
  }